body {
    background-color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.card {
    background-color: #1e1e1e;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5),
                -10px -10px 30px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 400px;
    min-width: 341;
    height: 550px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, #ff00e0, #ff00ff, #00ffea);
    z-index: -1;
    border-radius: 30px;
  }
  
  .card::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border: 2px solid #00ffea;
    z-index: -2;
    border-radius: 40px;
  }
  
  .card img {
    width: 150px;
    height: 150px;
    margin-top: 15vh;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5vh;
    box-shadow: 0 0 10px #00ffea,
                0 0 20px #00ffea,
                0 0 30px #00ffea,
                0 0 40px #00ffea;
    animation: pulse 2s ease-in-out infinite;
  }
  
  .card .content {
    width: 80%;
    text-align: center;
    margin-top: -40px;
  }
  
  .card h2 {
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 0;
  }
  
  .card h3 {
    color: #00ffea;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  
  .card p {
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
  }
  
  .card button {
    background-color: #00ffea;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    padding: 15px 15px;
    font-size: 1rem;
    margin-top: 1.6vh;
    margin-bottom: 15vh;
    cursor: pointer;
  } 

 